@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="container-fluid" style="width: 80%; margin-bottom: 5rem; margin-top: 1rem; padding: 2rem; background-color: lightgray;">
    
    <div class="d-flex flex-column">
    <h2>Privacy Policy for Walking With Style</h2>
    <p>Welcome to Walking With Style! We value and respect the privacy of all our customers and visitors to our website. This privacy policy describes the types of personal information we collect, how we use it, and how we protect it. By using our services, you consent to the collection and use of information as outlined in this policy.</p>
    </div>

    <div class="d-flex flex-column">
    <h2>Information Collection</h2>
    <p>When you visit our website, we may collect certain information automatically, including your IP address, browser type, referral URL, and which pages on our website you visit. We may also collect personal information such as name, email address, phone number, and shipping address if you choose to provide this information to us through forms on our website or when completing an order.</p>
    </div>

    <div class="d-flex flex-column">
    <h2>Use of Information</h2>
    <p>The information we collect is primarily used to process orders, deliver goods, and communicate with you regarding your order. We may also use your information to send marketing communications about our products and offers that we believe may be of interest to you, but only if you have provided consent for this.</p>
    </div>

    <div class="d-flex flex-column">
    <h2>Protection of Information</h2>
    <p>We take appropriate technical and organizational measures to protect the information we collect against unauthorized access, alteration, disclosure, or destruction. Only authorized personnel have access to this information, and they are required to treat it confidentially.</p>
    </div>

    <div class="d-flex flex-column">
    <h2>Sharing Information</h2>
    <p>We do not share your personal information with third parties for marketing purposes without your explicit consent. However, we may share your information with third parties acting on our behalf to facilitate the delivery of goods or provide other services to us, such as payment processing or marketing.</p>
    </div>

    <div class="d-flex flex-column">
    <h2>Your Rights</h2>
    <p>You have the right to request access to and correction of the personal information we hold about you. You also have the right to request that we delete your personal information or restrict its processing in certain situations. Please contact us if you have any questions or concerns regarding our privacy policy or how we process your information.</p>
    </div>

    <div class="d-flex flex-column">
    <h2>Changes to the Privacy Policy</h2>
    <p>We reserve the right to update or change this privacy policy at any time. Any changes will be posted on this page, and it is your responsibility to regularly review this privacy policy to stay informed of any updates.</p>
    </div>

    <div class="d-flex flex-column">
    <h2>Contact Us</h2>
    <p>If you have any questions or comments regarding our privacy policy or our handling of your information, please contact us at</p>
    </div>

    <h3 class="text-center" style="margin-top: 1.5rem">Last Updated: 2024-03-22</h3>
</div>