@model List<AspNetUser>

<h2>Customers</h2>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var customer in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">@customer.UserName</p>
                            <div class="d-flex justify-content-between align-customers-center">
                                <div class="btn-group">
                                    <a asp-controller="customer" asp-action="Detail" asp-route-id="@customer.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>

                                </div>
                                <small class="text-muted">@customer.PhoneNumber</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>